:root {
  --main-color: #C3D500;
  --second-color: #616161;
}

.lime {
  background-color: var(--main-color) !important;
}

.lime-text {
  color:  var(--main-color) !important;
}

main.container {
  background-image: url('../assets/img/trama.png');
  background-repeat: repeat;
}

.u-m1p1 {
  margin: 1rem;
  padding: 1rem;
}

.Header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'glamour .       .'
    '.       .       .'
    'phrase  phrase  logos';
}

.Header > * {
  padding: 1rem;
}

.Header-bg {
  width: 100%;
  padding: 0;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.Header-glamour {
  grid-area: glamour;
}

.Header-logos {
  grid-area: logos;
  align-self: end;
}

.Header-phrase {
  grid-area: phrase;
}

.Disciplines > div {
  display: flex;
  flex-direction: column;
}

.Disciplines figure {
  display: flex;
  align-items: center;
}

.Disciplines figcaption {
  margin-left: 1rem;
}

.Schedule {
  padding: 0;
  margin: 0;
}

.Schedule figure {
  margin: 0;
}

.Schedule figcaption {
  padding: 1rem;
  margin-top: -2rem;
}

.Messages {
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  .Disciplines > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .Schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 1rem;
  }
}

/* ********** Inputs Materialize ********** */

/* label color */
.input-field label {
  color: var(--main-color) !important;
}
/* label focus color */
.input-field input:focus + label {
  color: var(--second-color) !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

/* icon prefix focus color */
.input-field .prefix {
  color: var(--main-color) !important;
}

.input-field .prefix.active {
  color: var(--second-color) !important;
}

.datepicker-date-display,
.datepicker-table td.is-selected {
  background-color: var(--main-color);
}

.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: var(--main-color);
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--main-color);
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

/* ********** Btn Materialize ********** */
.btn,
.btn:hover,
.btn:focus {
  margin-top: 2rem;
  background-color: var(--main-color);
}

.btn:hover {
  opacity: .75;
}

